<div class="home-page">
  <div class="banner" *appShowAuthed="true">
    <div class="container">
      <h1 class="logo-font">Sisonke</h1>
      <p><i>Compassion knows no boundaries</i></p>
    </div>
  </div>
<div>

</div>
  <section class="articles" *appShowAuthed="true">
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://strgmystore.blob.core.windows.net/myalbum/full-group.jpeg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Hygiene in Schools</h2>
          <p>
            At the Segolokwane Secondary School's fields there's a troubling mountain of rubbish that would need to be handled in a unique way since it may contain dangerous chemicals that may be harmful to our children.
          </p>
          <button class="primary" onclick="window.school.showModal();">See more</button>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://strgmystore.blob.core.windows.net/myalbum/fire.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Unexpected fires</h2>
          <p>
            In the heart of our vibrant community, an unforeseen menace has emerged — an unexpected fire that threatens the safety and well-being of our neighbors. The flames have encroached dangerously close to homes.
          </p>
          <button class="primary" onclick="window.fire.showModal();">See more</button>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://strgmystore.blob.core.windows.net/myalbum/kids traffic.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Pupils' road safety</h2>
          <p>
            In the midst of our community, a pressing concern has surfaced — the safety of our school children on the roads. Navigating the bustling streets has become a daily challenge, with the well-being of our young students.
          </p>
          <button class="primary" onclick="window.road.showModal();">See more</button>
        </div>
      </div>
    </article>
    <article>
      <div class="article-wrapper">
        <figure>
          <img src="https://strgmystore.blob.core.windows.net/myalbum/shovel.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>School gardens</h2>
          <p>
            Amidst the classrooms and textbooks, there lies a wonderful opportunity for growth and education — school gardening. The vision is to cultivate not only plants but also a deeper understanding of nature, sustainability. to turn this vision into a flourishing reality
          </p>
          <button class="primary" onclick="window.gardening.showModal();">See more</button>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://strgmystore.blob.core.windows.net/myalbum/tiol.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>School toilets</h2>
          <p>
            A pressing issue requires our immediate attention — the state of our aging and unsafe toilet facilities. The current conditions not only compromise the dignity and comfort of our students but also pose a potential risk to their health and well-being.
          </p>
          <button class="primary" onclick="window.toilet.showModal();">See more</button>
        </div>
      </div>
    </article>
    <article>
  
      <div class="article-wrapper">
        <figure>
          <img src="https://strgmystore.blob.core.windows.net/myalbum/cpf.jpg" alt="" />
        </figure>
        <div class="article-body">
          <h2>Patrol Services</h2>
          <p>
            The need for enhanced safety measures has become paramount, especially when it comes to our schools. We are embarking on a crucial initiative to establish and strengthen patrol services that will ensure the security of our students and the surrounding areas.
          </p>
          <button class="primary" onclick="window.safety.showModal();">See more</button>
        </div>
      </div>
    </article>
  </section>
</div>

<dialog id="school">
	<h2>Cleaning campaign</h2>
	<p>In the heart of Segolokwane, where young minds are nurtured at the Segolokwane Secondary School, lies a pressing issue that demands our immediate attention and collective action. A daunting mountain of rubbish has amassed on the school's fields, posing a significant threat to the well-being of our children and the entire community. This is not just a mere heap of discarded items; it is a potential hazard harboring unknown dangers, including the presence of harmful chemicals that could jeopardize the health and safety of our beloved students.</p>
  <p>Funding Target:    R5750</p>
  <p>68.6% funded.</p>
  <a class="openbutton" href="https://portfolio.metamask.io/" target="_blank">Fund project</a>
   <button onclick="window.school.close();" aria-label="close" class="x">❌</button>
</dialog>

<dialog id="fire">
	<h2>Scorching fire</h2>
	<p>In the heart of our vibrant community, where young minds are nurtured at the Segolokwane Secondary School, lies a pressing issue that demands our immediate attention and collective action. A daunting mountain of rubbish has amassed on the school's fields, posing a significant threat to the well-being of our children and the entire community. This is not just a mere heap of discarded items; it is a potential hazard harboring unknown dangers, including the presence of harmful chemicals that could jeopardize the health and safety of our beloved students.</p>
  <p>Funding Target:    R55000</p>
  <p>28.6% funded.</p>
  <a class="openbutton" href="https://portfolio.metamask.io/" target="_blank">View Contract</a>
   <button onclick="window.fire.close();" aria-label="close" class="x">❌</button>
</dialog>

<dialog id="road">
	<h2>Road safety</h2>
	<p>The roads surrounding our schools have become a potential danger zone, exposing our children to risks that demand immediate attention. The unpredictability of traffic and the lack of adequate safety measures make it imperative for us to take proactive steps to safeguard the journeys of our young learners</p>
  <p>Funding Target:    R2500</p>
  <p>98.6% funded.</p>
  <a class="openbutton" href="https://portfolio.metamask.io/" target="_blank">Fund project</a>
   <button onclick="window.road.close();" aria-label="close" class="x">❌</button>
</dialog>

<dialog id="gardening">
	<h2>Gardening</h2>
	<p>Our goal is to transform neglected patches of land within our school grounds into vibrant gardens where students can actively participate in the hands-on process of growing their own food. This initiative goes beyond planting seeds; it is about cultivating a sense of responsibility, environmental awareness, and a lifelong appreciation for the natural world.</p>
  <p>Funding Target:    R19250</p>
  <p>48.6% funded.</p>
  <a class="openbutton" href="https://portfolio.metamask.io/" target="_blank">Fund project</a>
   <button onclick="window.gardening.close();" aria-label="close" class="x">❌</button>
</dialog>

<dialog id="toilet">
	<h2>Bathrooms</h2>
	<p>The outdated and unsafe nature of our current toilets creates an environment that is far from conducive to a positive learning experience. It is crucial that we take proactive steps to ensure that our students have access to clean, safe, and functional restroom facilities. Your contribution will play a pivotal role in overhauling these facilities, addressing issues such as faulty plumbing, inadequate sanitation, and overall dilapidation.</p>
  <p>Funding Target:    R95000</p>
  <p>90% funded.</p>
  <a class="openbutton" href="https://portfolio.metamask.io/" target="_blank">Fund project</a>
   <button onclick="window.toilet.close();" aria-label="close" class="x">❌</button>
</dialog>

<dialog id="safety">
	<h2>Safety.</h2>
	<p>In t, where young minds are nurtured at the Segolokwane Secondary School, lies a pressing issue that demands our immediate attention and collective action. A daunting mountain of rubbish has amassed on the school's fields, posing a significant threat to the well-being of our children and the entire community. This is not just a mere heap of discarded items; it is a potential hazard harboring unknown dangers, including the presence of harmful chemicals that could jeopardize the health and safety of our beloved students.</p>
  <p>Funding Target:    R33000</p>
  <p>88.6% funded.</p>
  <a class="openbutton" href="https://portfolio.metamask.io/" target="_blank">Fund project</a>
   <button onclick="window.safety.close();" aria-label="close" class="x">❌</button>
</dialog>